In [26]:
import pandas as pd 

ms_final = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='MS(최종)', header=2)
phd_final = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='PhD(최종)', header=2)
exception_request = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='출석예외', header=1)
online_request = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='온라인')
google_form = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='Form', header=2)
MS = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='MS (Online+Offline)', header=2)
PHD = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='PhD (Online+Offline)', header=2)
MS_PHD = pd.read_excel('2025 Fall Colloquium 출결 관리_251103.xlsx', sheet_name='MS + Phd (Online+Offline)', header=2)

In [27]:
num_col = 4 
dates = ['9/12', '9/16', '9/29', '10/14', '10/28', '11/4', '11/11', '11/18', '11/25', '12/2', '12/5', '12/9']
rename_col = {
    'Unnamed: 2': 'ID',
    'Unnamed: 3': 'Name',
}
dates = dates[:num_col]
rename_col.update({f'Unnamed: {4+f}': dates[f] for f in range(num_col)}) 
rename_col

{'Unnamed: 2': 'ID',
 'Unnamed: 3': 'Name',
 'Unnamed: 4': '9/12',
 'Unnamed: 5': '9/16',
 'Unnamed: 6': '9/29',
 'Unnamed: 7': '10/14'}

In [28]:
# Make IDs
MS_IDS = ms_final['Unnamed: 2'].astype(int).tolist()
PHD_IDS = phd_final['Unnamed: 2'].astype(int).tolist()
MS_NAMES = ms_final['Unnamed: 3'].tolist()
PHD_NAMES = phd_final['Unnamed: 3'].tolist()

MS_IDS[:3], PHD_IDS[:3]


# id x dates 
ms_final = pd.DataFrame(index=MS_IDS, columns=['Name']+dates) 
phd_final = pd.DataFrame(index=PHD_IDS, columns=['Name']+dates) 
for date in dates:
    ms_final[date] = '-'
    phd_final[date] = '-'

ms_final['Name'] = MS_NAMES
phd_final['Name'] = PHD_NAMES

ms_final
phd_final

         Name 9/12 9/16 9/29 10/14
20205125  박광수    -    -    -     -
20215138  박영진    -    -    -     -
20215561  이동복    -    -    -     -
20218169  강민기    -    -    -     -
20218225  이준민    -    -    -     -
...       ...  ...  ...  ...   ...
20257043  최대원    -    -    -     -
20257053  김경호    -    -    -     -
20257057  김유준    -    -    -     -
20257058  김채현    -    -    -     -
20257070  장수혁    -    -    -     -

[143 rows x 5 columns]

In [29]:
print("Handling exception requests...")
zipped_exception_request = list(zip(exception_request['학번'].astype(int), exception_request['날짜']))
zipped_exception_request[:3]

Handling exception requests...

[(20239005, '9/12'), (20235565, '9/12'), (20244068, '9/12')]

In [30]:
# Google Form 
google_form_data = google_form[['Unnamed: 2', 'Unnamed: 3', ] + [f'Unnamed: {4+f}' for f in range(4)]] 
google_form_data = google_form_data.rename(columns=rename_col, inplace=False)
google_form_data['ID'] = google_form_data['ID'].astype(int)
google_form_data

           ID           Name 9/12 9/16 9/29 10/14
0    20205125            박광수    O    O    O     O
1    20215138            박영진  NaN  NaN  NaN   NaN
2    20215561            이동복    O    X    O     O
3    20218169            강민기    O    O    O     O
4    20218225            이준민    O    O    O     O
..        ...            ...  ...  ...  ...   ...
237  20258355            이지민    O    O  NaN   NaN
238  20258369            정규단    O    O    O     O
239  20258385            최진혁    O  NaN  NaN   NaN
240  20258392            홍은빈    O  NaN  NaN   NaN
241  20258405  Satyam Mishra    O    O    O     O

[242 rows x 6 columns]

In [31]:
MS_data = MS[['Unnamed: 2', 'Unnamed: 3',]+[f'Unnamed: {4+f}' for f in range(4)]]
MS_data = MS_data.rename(columns=rename_col, inplace=False)
MS_data['ID'] = MS_data['ID'].astype(int)
MS_data

PhD_data = PHD[['Unnamed: 2', 'Unnamed: 3',]+[f'Unnamed: {4+f}' for f in range(4)]]
PhD_data = PhD_data.rename(columns=rename_col, inplace=False)
PhD_data['ID'] = PhD_data['ID'].astype(int)
PhD_data

MSPHD_data = MS_PHD[['Unnamed: 2', 'Unnamed: 3',]+[f'Unnamed: {4+f}' for f in range(4)]]
MSPHD_data = MSPHD_data.rename(columns=rename_col, inplace=False)
MSPHD_data['ID'] = MSPHD_data['ID'].astype(int)
MSPHD_data

           ID           Name 9/12 9/16 9/29 10/14
0    20205125            박광수    O    O    O     O
1    20215138            박영진    -    O    -     -
2    20215561            이동복    O    O    O     O
3    20218169            강민기    O    O    O     O
4    20218225            이준민    O    O    O     O
..        ...            ...  ...  ...  ...   ...
237  20258355            이지민    O  NaN  NaN     O
238  20258369            정규단    O    O    O   NaN
239  20258385            최진혁    O  NaN  NaN   NaN
240  20258392            홍은빈    O  NaN  NaN   NaN
241  20258405  Satyam Mishra    O    O    O     O

[242 rows x 6 columns]

In [ ]:

for raw_dicts in [MS_data, PhD_data, MSPHD_data]:
    for ms_id in MS_IDS:
        temp = raw_dicts[raw_dicts['ID'] == ms_id]
        for date in dates:
            current_val = ms_final.loc[ms_id, date]
            if len(temp[date].values) > 0:
                replace_val = str(temp[date].values[0])
                if current_val != 'O' and 'O' in replace_val:
                    ms_final.loc[ms_id, date] = 'O'
                    
    for phd_id in PHD_IDS:
        temp = raw_dicts[raw_dicts['ID'] == phd_id]
        for date in dates:
            current_val = phd_final.loc[phd_id, date]
            if len(temp[date].values) > 0:
                replace_val = str(temp[date].values[0])
                if current_val != 'O' and 'O' in replace_val:
                    phd_final.loc[phd_id, date] = 'O'
                  
# Handling Google Forms 
for g in google_form_data.index:
    for ms_id in MS_IDS:
        temp = raw_dicts[raw_dicts['ID'] == ms_id]
        for date in dates:
            current_val = ms_final.loc[ms_id, date]
            if len(temp[date].values) > 0:
                replace_val = str(temp[date].values[0])
                if current_val != 'O' and 'O' in replace_val:
                    ms_final.loc[ms_id, date] = 'O'
                    
    for phd_id in PHD_IDS:
        temp = raw_dicts[raw_dicts['ID'] == phd_id]
        for date in dates:
            current_val = phd_final.loc[phd_id, date]
            if len(temp[date].values) > 0:
                replace_val = str(temp[date].values[0])
                if current_val != 'O' and 'O' in replace_val:
                    phd_final.loc[phd_id, date] = 'O'

In [64]:
number = 20248266
ms_final[ms_final.index == number], phd_final[phd_final.index == number]

(         Name 9/12 9/16 9/29 10/14
 20248266  남지수    O    O    O     O,
 Empty DataFrame
 Columns: [Name, 9/12, 9/16, 9/29, 10/14]
 Index: [])

In [34]:
phd_final

         Name 9/12 9/16 9/29 10/14
20205125  박광수    O    O    O     O
20215138  박영진    -    O    -     -
20215561  이동복    O    O    O     O
20218169  강민기    O    O    O     O
20218225  이준민    O    O    O     O
...       ...  ...  ...  ...   ...
20257043  최대원    -    O    -     O
20257053  김경호    O    O    O     -
20257057  김유준    -    O    O     -
20257058  김채현    O    O    O     -
20257070  장수혁    O    O    -     -

[143 rows x 5 columns]

In [39]:
ms_final.index

Int64Index([20233960, 20234117, 20239005, 20243416, 20243503, 20243838,
            20244068, 20244091, 20244216, 20244333, 20244373, 20244446,
            20244490, 20244553, 20248241, 20248266, 20248277, 20248288,
            20248312, 20248315, 20248320, 20248337, 20253046, 20253053,
            20253065, 20253087, 20253125, 20253156, 20253230, 20253264,
            20253285, 20253299, 20253328, 20253337, 20253378, 20253480,
            20253493, 20253502, 20253557, 20253578, 20253603, 20253622,
            20253623, 20253674, 20253678, 20253772, 20253799, 20253804,
            20253823, 20254014, 20254019, 20254123, 20254129, 20254156,
            20254206, 20254269, 20254389, 20254390, 20254392, 20254423,
            20254451, 20254454, 20254457, 20254487, 20254519, 20254538,
            20254597, 20254617, 20254619, 20254636, 20254738, 20258003,
            20258019, 20258026, 20258032, 20258035, 20258047, 20258068,
            20258105, 20258131, 20258138, 20258160, 20258178, 20258207,
            20258208, 20258212, 20258261, 20258266, 20258285, 20258296,
            20258305, 20258317, 20258347, 20258350, 20258355, 20258369,
            20258385, 20258392, 20258405],
           dtype='int64')